main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
    background-color: #f0f0f0bd;
}

.cart {
    flex-basis: 30%;
    border: 1px solid #ddd;
    padding: 1em;
}

.div2{
    height: 250px;
    background-color: rgba(14, 13, 13, 0.473);
    width: 300px;
    margin-right: 10%;
    margin-left: 2%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-list2{
    width: auto;
    height: auto;
    position: absolute;
    margin-left: 500px;
    margin-top: -2965px;
}

h1 {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -10px;
    color: rgb(0, 0, 0);
    font-family: "PT Serif", serif;
    text-align: justify;
    font-size: medium;
    display: flex;
}

h2{
    font-size: x-large;
}

.btn{
    margin-top: -60px;
}

.btn2{
    margin-top: -120px;
}
.containermenu{
    height: 150px;
    width: 120px;
}