@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');

html {
    background-color: #ffffffbd;
    display: flex;
    background-size: cover;
}

/* parte de cima */
.containercima{
    margin-left: -8px;
    background-color: #74B4D4;
    width: 1920px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-top: -8px;
}

.textcima{
    padding-top: 6px;
    text-align: center;
}

/* Título */
.containertitulo{
    width: 1920px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    margin-left: -10px;
}

.btn{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: -30px;
    margin-left: 20px;
    transition: all linear 160ms;
}

.btn:hover{
    transform: scale(1.05);
}

.formLogin input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 28px;
    margin-left: 200px;
    border-radius: 100px;
    transition: all linear 160ms;
    outline: none;
    width: 600px;
    height: 12px;
    position: absolute;
    border: 1px solid #74B4D4;
}


.formLogin input:focus {
    border: 1px solid #74B4D4;
}

.imglupa {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 36px;
    margin-left: 790px;
}

.imgrastrear {
    width: 187px;
    height: 45px;
    position: absolute;
    margin-top: 25px;
    margin-left: 880px;
    transition: all linear 160ms;
}

.imgrastrear:hover{
    transform: scale(1.05);
}

.telefone {
    width: 33px;
    height: 35px;
    position: absolute;
    margin-left: 1150px;
    margin-top: 30px;
}

.imgcentral {
    position: absolute;
    width: 240px;
    height: 70px;
    margin-top: 10px;
    margin-left: 1200px;
}

.imgentrar {
    width: 79px;
    height: 39px;
    margin-top: 25px;
    margin-left: 1700px;
    transition: all linear 160ms;
    margin-right: -50px;
}

.imgentrar:hover{
    transform: scale(1.05);
}

.imgcarrinho {
    width: 38px;
    height: 38px;
    position: absolute;
    margin-left: 100px;
    margin-top: 25px;
    transition: all linear 160ms;
}

.imgcarrinho:hover {
    transform: scale(1.05);
}

/* Menu */
.containermenu {
    width: 1920px;
    height: 40px;
    background-color:#74B4D4;
    text-align: center;
    margin-left: -8px;
    padding-top: 16px;
}

a.one:link {
    font-size: 17px;
    text-decoration: none;
    padding: 20px;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
}
a.one:visited {
    color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a.one:hover {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a.one:active {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
}

/* Corpo */

.produto{
    margin-top: 50px;
    margin-left: 240px;
    height: 1700px;
    width: 1400px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    position: absolute;
    justify-content: center;
}

.container-imagens{
    position: absolute;
    width: 100px;
    height: 600px;
    margin-top: 90px;
    margin-left: 55px;
}

.imagens{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.imagens:hover{
    border: 1px solid #74B4D4;
}

.containerproduto{
    width: 600px;
    height: 600px;
    position: absolute;
    margin-top: -730px;
    margin-left: 230px;
}

.imgventilador{
    margin-top: 780px;
    height: 500px;
    width: 380px;
    margin-left: 90px;
    position: absolute;
}

.nome-produto{
    font-size: 30px;
    text-align: justify;
    position: absolute;
    margin-left: 900px;
    margin-right: 40px;
    margin-top: 40px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
}

.preco-produto{
    font-size: 20px;
    text-align: justify;
    position: absolute;
    margin-left: 900px;
    margin-top: 170px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.534);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.preco-novo-produto{
    font-size: 40px;
    text-align: justify;
    position: absolute;
    margin-left: 899px;
    margin-top: 184px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
}

.a-vista{
    font-size: 14px;
    text-align: justify;
    position: absolute;
    margin-left: 1060px;
    margin-top: 210px;
    color: rgba(0, 0, 0, 0.534);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.ou-ate{
    font-size: 14px;
    text-align: justify;
    position: absolute;
    margin-left: 900px;
    margin-top: 235px;
    color: rgba(0, 0, 0, 0.863);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.container-frete{
    width: 460px;
    height: 150px;
    margin-top: 320px;
    margin-left: 900px;
    border: 1px solid rgba(0, 0, 0, 0.534);
    border-radius: 10px;
}

.frete-text{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: black;
    margin-left: 20px;
}

.cep{
    width: 330px;
    height: 25px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.534);
    margin-left: 10px;
    outline: none;
}

.calcular{
    width: 90px;
    height: 29px;
    position: absolute;
    transition: 0.3s ease;
    background-color: black;
    margin-left: 360px;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.calcular:hover{
    background-color: #74B4D4;
    color: white;
}

a.two:link {
    font-size: 17px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 45px;
    margin-left: 20px;
}
a.two:visited {
    color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a.two:hover {
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a.two:active {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
}

.descricao-produto-titulo{
    position: absolute;
    font-size: 40px;
    margin-top: -80px;
    margin-right: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
}

.descricao-produto{
    position: absolute;
    margin-top: 260px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.descricao{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.adicionar-btn{
    width: 180px;
    height: 40px;
    color: #000000;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 550px;
    margin-left: 900px;
    position: absolute;
    transition: 0.3s ease;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    align-items: center;
    justify-content: center;
} 

.adicionar-btn:hover{
    background-color: #000000;
    color: white;
}

.comprar-btn{
    width: 140px;
    height: 40px;
    background-color: #000000;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 550px;
    margin-left: 1100px;
    position: absolute;
    transition: 0.3s ease;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
} 

.comprar-btn:hover{
    background: #74B4D4;
}

/* footer */

.footer{
    width: 1920px;
    height: 400px;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 1580px;
    margin-left: -8px;
}

.sobrenos{
    width: 1820px;
    height: 320px;
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
}

/*Sobre Nós*/

.footertext{
    position: absolute;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    margin-left: 30px;
    margin-top: 20px;
}

/*Institucional*/

.footertext2{
    position: absolute;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    margin-left: 240px;
    margin-top: -142px;
}

/*Minha Conta*/

.footertext3{
    position: absolute;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    margin-left: 530px;
    margin-top: -394px;
}

/*Contato*/

.footertext4{
    position: absolute;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    margin-left: 780px;
    margin-top: -466px;
}

.footertext5{
    font-size: 17px;
    text-decoration: none;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    margin-left: 780px;
    position: absolute;
    margin-top: -460px;
}

/*Sobre Nós*/

a.three:link {
    font-size: 17px;
    text-decoration: none;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    margin-left: 30px;
    position: absolute;
    margin-top: 50px;
    margin-bottom: 30px;
}
a.three:visited {
    color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a.three:hover {
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

a.three:active {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
}

/*Institucional*/

a.four:link {
    font-size: 17px;
    text-decoration: none;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    margin-left: 240px;
    position: absolute;
    margin-top: -96px;
    margin-bottom: 30px;
}
a.four:visited {
    color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a.four:hover {
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

a.four:active {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
}

/*Minha Conta*/

a.five:link {
    font-size: 17px;
    text-decoration: none;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    margin-left: 530px;
    position: absolute;
    margin-top: -350px;
    margin-bottom: 30px;
}
a.five:visited {
    color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a.five:hover {
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

a.five:active {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
}

.centralatendimento-btn{
    width: 180px;
    height: 40px;
    color: #000000;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    margin-top: -440px;
    margin-left: 780px;
    position: absolute;
    transition: 0.3s ease;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgba(0, 0, 0, 0.863);
    align-items: center;
    justify-content: center;
} 

.centralatendimento-btn:hover{
    background-color: #000000;
    color: white;
}

.btn2{
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: -550px;
    margin-left: 1420px;
    transition: all linear 160ms;
}

.btn2:hover{
    transform: scale(1.05);
}